.two_d_page,
.two_d_page_coll {
  width: 100vw;
  background-color: var(--blue-white);
  color: var(--text);
  padding: 2.4rem 3.2rem 9.6rem 2.4rem;
  min-height: 100vh;
}

.two_d_page {
  margin-left: 28rem;
}

.two_d_page_coll {
  margin-left: 8rem;
}

.two_d_container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2.4rem 3.2rem 9.6rem 3.2rem;
  background-color: var(--text-white);
  border-radius: 8px;
}

.two_d_container h3 {
  font-size: 1.8rem;
}
.two_d_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two_d_head {
  margin-top: 4.8rem;
}
.two_d_head ul {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  font-size: 1.6rem;
}

.two_d_head ul li {
  cursor: pointer;
  transition: all 0.3s;
}

.two_d_head ul li:hover {
  color: var(--blue);
}
