.user_fun_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.user_fun_btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 1rem;
  border-radius: 1rem;
  background-color: none;
  color: #44403c;
  transition: all 0.3s;
}
.user_fun_btn:hover {
  background-color: #f59e0b;
  color: #fff;
}
.user_fun_icon {
  font-weight: 600;
  font-size: 2rem;
}
.user_fun_btn_dirc {
  font-size: 1.1rem;
  text-transform: uppercase;
}
