.dash_all_user {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  flex-wrap: wrap;
}

.dash_all_user li {
  /* background: linear-gradient(to right, #fc00ff, #00dbde); */
  background: linear-gradient(to right, #ff512f, #dd2476);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23rem;
  border-radius: 3px;
  color: var(--text-white);
  padding: 1.8rem 2.4rem;
}

.dash_user {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.dash_amount {
  font-size: 2.4rem;
  font-weight: 500;
}

.dash_user_icon {
  font-size: 3.2rem;
}
