:root {
  --primary: #f59e0b;
  --darkprimary: #b45309;
  --text-white: #fafaf9;
  --text: #030712;
  --blue: #1d4ed8;
  --blue-light: #3b82f6;
  --red: #dc2626;
  --blue-white: #dbeafe;
  --green-dark: #15803d;
  --green-light: #22c55e;
  --red-light: #ef4444;
  --red-dark: #b91c1c;
  --text-gray: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  font-size: 1.8rem;
  color: #333;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.btn_hover:hover {
  background-color: var(--blue);
}
.btn:active {
  opacity: 0.8;
  box-shadow: none;
}

a {
  text-decoration: none;
}

.btn_opacity {
  transition: all 0.3s;
}

.btn_opacity:hover {
  opacity: 0.5;
}

.bg_photo {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.input {
  outline: none;
  border: 1px solid #888;
  border-radius: 8px;
  font-size: 1.8rem;
  padding: 1rem 1.2rem;
}

.input:focus {
  border: 1px solid var(--blue-light);
}

/* ::-webkit-scrollbar {
  width: 10px;
  height: 100px;
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-light); 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
} */

.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For table */
.table_d_container {
  margin-top: 2.4rem;
  overflow: auto;
  border-radius: 8px;
}
.table_d {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--text-white);
  color: var(--text);
  border-radius: 8px;
  user-select: none;
}

.table_d tbody tr td,
.table_d thead tr th {
  text-align: center;
  padding: 8px;
  font-size: 1.6rem;
}
.table_d thead tr {
  background-color: var(--blue-light);
  color: var(--text-white);
}

.table_d_tbody_tr {
  padding: 1rem 0;
}

.table_d_tbody_tr td {
  padding: 1.8rem 0 !important;
}

.table_d_lastTime {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  font-size: 1.5rem !important;
}

.table_d_tbody_tr:nth-child(even) {
  background-color: #dddddd;
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.page_style,
.page_style_coll {
  background-color: var(--blue-white);
  color: var(--text);
  width: 100vw;
  padding: 2.4rem 3.2rem;

  min-height: 100vh;
}

.page_style {
  margin-left: 28rem;
}

.page_style_coll {
  margin-left: 8rem;
}

.modalStyle {
  background-color: var(--text-white);
  font-family: "Roboto";
  color: var(--text);
  border-radius: 10px;
  padding-bottom: 0 !important;
}

.modalStyle .ant-modal-title {
  font-size: 2rem;
}

.react-datetime-picker__clear-button {
  display: none;
}

.ant-modal-footer button {
  font-size: 1.8rem;
  height: 4rem;
  width: 10rem;
  font-family: "Roboto";
}

.color_red {
  background-color: var(--red-light);
}
.color_blue {
  background-color: var(--blue-light);
}
.color_green {
  background-color: var(--green-light);
}

.color_red_style {
  background-color: var(--red-light);
  padding: 2px 4px;
  border-radius: 1px;
  color: var(--text-white);
}

.color_green_style {
  background-color: var(--green-light);
  padding: 2px 4px;
  border-radius: 1px;
  color: var(--text-white);
}

.ant-menu {
  font-size: 1.6rem;
}
.ant-menu-item {
  font-size: 1.4rem !important;
}

.ban_user {
  opacity: 0.5;
}
