.admin_aside {
  background-color: #001529;
  position: fixed;
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.logout_btn {
  margin: 2.5rem;
  width: 80%;
  padding: 1rem;
  color: var(--text-gray);
  background-color: var(--red);
  font-size: 1.6rem;
  font-weight: 500;
}

.logout_btn:hover {
  background-color: var(--red-dark);
}

.log_out_style {
  font-size: 2rem;
  color: var(--red);
  margin-left: 3rem;
  padding-top: 1rem;
  cursor: pointer;
}
