.deposit_title {
  background-color: var(--text-white);
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deposit_title p {
  font-weight: 500;
  font-size: 1.6rem;
}

.depo_with_history {
  width: 100%;
  overflow: auto;
  border-radius: 8px;
  margin-top: 3.2rem;
}
.depo_with_history table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.depo_with_history table thead tr th:first-child {
  min-width: 8rem;
}

.depo_with_history table thead tr th {
  min-width: 20rem;
}

.descr {
  min-width: 25rem;
}
.action {
  min-width: 33rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.acc_btn,
.rej_btn {
  width: 13rem;
  font-size: 1.6rem;
  color: var(--text-white);
  padding: 8px 0;
}
.rej_btn {
  background-color: var(--red-light);
}
.rej_btn:hover {
  background-color: var(--red-dark);
}
.acc_btn {
  background-color: var(--blue-light);
}
.date_style {
  min-width: 30rem;
}
