.lottery_setting_container {
  padding: 2.4rem 3.2rem;
  background-color: var(--text-white);
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.lottery_card {
  width: 25rem;
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  cursor: pointer;
  color: var(--text-white);
  background-color: var(--blue-light);
  transition: all 0.3s;
}

.lottery_card span {
  font-size: 5rem;
  color: var(--text-white);
}

.lottery_card:hover {
  background-color: var(--blue);
}
