.account_head {
  padding: 2.4rem;
  background-color: var(--text-white);
}
.account {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.system {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}
.account_alret div {
  padding: 1.2rem 2.4rem;
  background-color: rgb(228, 226, 226);
  margin-bottom: 1.2rem;
}

.bank_acc_list {
  margin-top: 2.4rem;
  padding: 2.4rem;
  background-color: var(--blue-white);
}
.bank_acc_list p {
  font-size: 1.6rem;
}
.bank_acc {
  list-style: none;
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.bank_acc_btn {
  width: 100%;
  padding: 1rem 1.2rem;
  background-color: var(--blue-light);
  font-size: 1.6rem;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  transition: all 0.3s;
  border-radius: 8px;
  cursor: pointer;
}

.bank_acc_btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.copy_btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--text-white);
  transition: all 0.3s;
  cursor: pointer;
}
.copy_btn:active {
  opacity: 0.7;
}
