.form_style {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem 0;
}
.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.form input {
  padding: 8px 1.2rem;
  width: 70%;
  font-size: 1.8rem;
  color: var(--text);
  border: none;
  outline: none;
  background-color: var(--blue-white);
  border-radius: 8px;
}

.form input:focus {
  outline: 1px solid var(--blue);
}
