.form_style {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem 0;
}
.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.form input {
  padding: 8px 1.2rem;
  width: 70%;
  font-size: 1.8rem;
  color: var(--text);
  border: none;
  outline: none;
  background-color: var(--blue-white);
  border-radius: 8px;
}

.form input:focus {
  outline: 1px solid var(--blue);
}

.sup_game_cat {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  padding: 2.4rem 0 4.8rem;
}
.sup_game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 3.2rem;
  gap: 4.8rem;
  color: var(--text-white);
}

.lucky_no {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  flex-direction: column;
  padding: 3.2rem 0;
  color: var(--text);
}

.lucky_no select,
.lucky_no input {
  font-size: 1.6rem;
  padding: 8px 1.6rem;
  outline: none;
  border: 1px solid #999;
  width: 60%;
}
.lucky_no select:focus,
.lucky_no input:focus {
  outline: 2px solid var(--blue);
}

.color_green {
  background-color: var(--green-light);
}
.color_red {
  background-color: var(--red-light);
}

/* For Bank Created Account */
.bank_input {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 2.4rem 0;
  margin-bottom: 3.2rem;
}

.bank_input div {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.bank_input div label {
  width: 15rem;
  font-size: 1.6rem;
}

.bank_input div input,
.bank_input div select {
  width: 30rem;
  outline: none;
  border: 1px solid #999;
  padding: 8px 1.6rem;
  font-size: 1.6rem;
}

.bank_input div select option {
  padding: 8px 1.6rem;
}
.bank_input div input:focus,
.bank_input div select:focus {
  outline: 1px solid var(--blue);
}
