.all_admin_page,
.all_admin_coll {
  background-color: var(--blue-white);
  color: var(--text);
  width: 100vw;
  padding: 2.4rem 3.2rem;

  min-height: 100vh;
  overflow: hidden;
}

.all_admin_page {
  margin-left: 28rem;
}

.all_admin_coll {
  margin-left: 8rem;
}

.all_admin_container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--text-white);
  padding: 2.4rem 3.2rem;
  border-radius: 8px;
  margin-bottom: 3.2rem;
}
.allusers_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 0.5px solid #a8a29e;
}
.add_new_btn {
  padding: 1rem 2rem;
  color: #fff;
  font-weight: 600;
  background-color: #f59e0b;
  font-size: 1.6rem;
  transition: all 0.3s;
  border-radius: 5px;
}

.add_new_btn:hover {
  background-color: #b45309;
}
