.cancle_icon {
  position: absolute;

  cursor: pointer;
}
.cancle_icon span {
  width: 3rem;
  padding: 3px 1rem;
  color: var(--primary);
  border: 2px solid var(--red);
  background-color: var(--text);
}
